<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>layout: home</title>
		<link rel="stylesheet" href="style.css">
</head>

<body>
<div id="wrapper">
	<div id="header">
    	<div id="logo"><img name="Logo" src="images/logo.gif" width="81" height="71" alt="logo.gif" /></div>
        <div id="nav"><a href="#">Main</a>&nbsp;&nbsp;&nbsp;|<a href="#">About</a>&nbsp;&nbsp;&nbsp;|<a href="#">Contact</a></div>
  	</div>
    
	<div id="banner"><img src="images/team.jpg" alt="team.jpg"  /></div>
	
	<div id="content">
		<h1>Main Heading</h1>
		<div id="leftColumn">
          <h2>Subheading</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
        
		<div id="rightColumn">
          <h2>Subheading</h2>
   	      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	<div id="footer">Content for  id &quot;footer&quot; Goes Here</div>
</div>
</body>
</html>
